@use '@styles/variables' as *;

.wrapper {
	position: fixed;
	z-index: 100;
	inset: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100vw;
	height: 100vh;
	padding: calc(16px * 2) 16px;
}

.contentWrapper {
	position: relative;
	transform: scale(0.9);

	overscroll-behavior: contain;
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;

	width: fit-content;
	height: fit-content;
	border: 1px solid #0000001f;
	border-radius: 12px;

	opacity: 0;
	background-color: $white;
	box-shadow: 0 4px 16px rgb(0 0 0 / 25%);

	transition:
		transform 0.3s ease,
		opacity 0.3s ease;

	&.open {
		transform: scale(1);
		opacity: 1;
	}

	&.closing {
		transform: scale(0.9);
		opacity: 0;
	}
}

.withBackground {
	background-color: rgba($black, 0);
	transition: background-color 0.3s ease;

	&.bgVisible {
		background-color: rgba($black, 0.8);
	}
}
