.button {
	cursor: pointer;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	text-align: center;
	text-decoration: none;

	transition:
		background-color 350ms ease,
		opacity 350ms ease,
		transform 350ms ease;

	-webkit-tap-highlight-color: transparent;
}

.disabled,
.button:disabled {
	pointer-events: none;
	cursor: not-allowed;
	transform: none;
	opacity: 0.4;
}

.label {
	display: inline-block;
	white-space: nowrap;
}

.icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
}

.hasIcon {
	display: inline-flex;
	gap: 0;
	align-items: center;
}

.iconRight .icon {
	margin-left: 10px;
}
