@use '@styles/variables' as *;

.notification {
	position: fixed;
	z-index: 999;
	top: 16px;
	left: 50%;
	transform: translateX(-50%) translateY(-200%);

	padding: 6px 12px;
	border: 1px solid #0000001f;
	border-radius: 8px;

	opacity: 0;
	background-color: $white;
	box-shadow: 0 4px 16px rgb(0 0 0 / 25%);

	transition:
		transform 0.3s ease,
		opacity 0.3s ease;

	p {
		margin: 0;
	}
}

.open {
	transform: translateX(-50%) translateY(0);
	opacity: 1;
}

.closing {
	transform: translateX(-50%) translateY(-200%);
	opacity: 0;
}
